/node_modules
/vendor
/config.php
/logs
/dompdf
/google-api-php-client

/.idea

.DS_Store
.next
.idea
.firebase

npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

.env
.vscode
out
yarn.lock
